@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

#root {
  width: 100%;
  min-height: 100vh;
}